*{
    background-color: grey;
}
.radijas{
    display: grid;
    grid-template-columns: repeat(36, 1fr);
    gap: 5px;
    grid-template-rows: repeat(17, 1fr);
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}
.one{
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    background-color: aqua;
}
.two{
    grid-column: 1 / 5;
    grid-row: 2 / 4;
    background-color: purple;
}
.three{
    grid-column: 1 / 5;
    grid-row: 4 / 6;
    background-color: aqua;
}
.four{
    grid-column: 1 / 5;
    grid-row: 6 / 8;
    background-color: aqua;
}
.five{
    grid-column: 1 / 5;
    grid-row: 8 / 10;
    background-color: aqua;
}
.six{
    grid-column: 1 / 5;
    grid-row: 10 / 12;
    background-color: aqua;
}
.seven{
    grid-column: 1 / 5;
    grid-row: 12 / 14;
    background-color: aqua;
}
.eight{
    grid-column: 1 / 5;
    grid-row: 14 / 16;
    background-color: blueviolet;
}
.nine{
    grid-column: 1 / 5;
    grid-row: 16 / 18;
    background-color: green;
}
.ten{
    grid-column: 5 / 33;
    grid-row: 1 / 4;
    background-color: red;
}
.eleven{
    grid-column: 5 / 9;
    grid-row: 4 / 6;
    background-color: aqua;
}
.twelve{
    grid-column: 5 / 9;
    grid-row: 6 / 8;
    background-color: aqua;
}
.thirteen{
    grid-column: 5 / 9;
    grid-row: 8 / 10;
    background-color: aqua;
}
.fourteen{
    grid-column: 5 / 9;
    grid-row: 10 / 12;
    background-color: aqua;
}
.fiveteen{
    grid-column: 5 / 9;
    grid-row: 12 / 14;
    background-color: aqua;
}
.sixteen{
    grid-column: 5 / 10;
    grid-row: 14 / 16;
    background-color: aqua;
}
.seveteen{
    grid-column: 5 / 9;
    grid-row: 16 / 18;
    background-color: aqua;
}
.eighteen{
    grid-column: 9 / 13;
    grid-row: 4 / 6;
    background-color: aqua;
}
.nineteen{
    grid-column: 9 / 13;
    grid-row: 6 / 8;
    background-color: aqua;
}
.twenty{
    grid-column: 9 / 13;
    grid-row: 8 / 10;
    background-color: aqua;
}
.twemtyone{
    grid-column: 9 / 13;
    grid-row: 10 / 12;
    background-color: aqua;
}
.twentytwo{
    grid-column: 9 / 13;
    grid-row: 12 / 14;
   background-color: brown;
}
.twentythree{
    grid-column: 10 / 28;
    grid-row: 14 / 16;
   background-color: brown;
}
.twentyfour{
    grid-column: 9 / 13;
    grid-row: 16 / 18;
    background-color: aqua;
}
.twentyfive{
    grid-column: 13 / 17;
    grid-row: 4 / 6;
    background-color: aqua;
}
.twentysix{
    grid-column: 13 / 25;
    grid-row: 6 / 12;
    background-color: aqua;
}
.twentyseven{
    grid-column: 13 / 17;
    grid-row: 12 / 14;
    background-color: aqua;
}
.twentyeight{
    grid-column: 13 / 17;
    grid-row: 16 / 18;
    background-color: aqua;
}
.twentynine{
    grid-column: 17 / 21;
    grid-row: 4 / 6;
    background-color: aqua;
}
.thirty{
    grid-column: 17 / 21;
    grid-row: 12 / 14;
    background-color: aqua;
}
.thirtyone{
    grid-column: 17 / 21;
    grid-row: 16 / 18;
    background-color: aqua;
}
.thirtytwo{
    grid-column: 21 / 25;
    grid-row: 4 / 6;
    background-color: aqua;
}
.thirtytree{
    grid-column: 21 / 25;
    grid-row: 12 / 14;
    background-color: aqua;
}
.thirtyfour{
    grid-column: 21 / 25;
    grid-row: 16 / 18;
    background-color: aqua;
}


.thirtyfive{
    grid-column: 25 / 29;
    grid-row: 4 / 6;
    background-color: aqua;
}
.thirtysix{
    grid-column: 25 / 29;
    grid-row: 6 / 8;
    background-color: aqua;
}
.thirtyseven{
    grid-column: 25 / 29;
    grid-row: 8 / 10;
    background-color: aqua;
}
.thirtyeight{
    grid-column: 25 / 29;
    grid-row: 10 / 12;
    background-color: aqua;
}
.thirtynine{
    grid-column: 25 / 29;
    grid-row: 12 / 14;
   background-color: brown;
}
.fourty{
    grid-column: 25 / 29;
    grid-row: 16 / 18;
    background-color: aqua;
}


.fourtyone{
    grid-column: 29 / 33;
    grid-row: 4 / 6;
    background-color: aqua;
}
.fourtytwo{
    grid-column: 29 / 33;
    grid-row: 6 / 8;
    background-color: aqua;
}
.fourtythree{
    grid-column: 29 / 33;
    grid-row: 8 / 10;
    background-color: aqua;
}
.fourtyfour{
    grid-column: 29 / 33;
    grid-row: 10 / 12;
    background-color: aqua;
}
.fourtyfive{
    grid-column: 29 / 33;
    grid-row: 12 / 14;
    background-color: aqua;
}
.fourtysix{
    grid-column: 28 / 33;
    grid-row: 14 / 16;
    background-color: aqua;
}
.fourtyseven{
    grid-column: 29 / 33;
    grid-row: 16 / 18;
    background-color: aqua;
}


.fourtyeight{
    grid-column: 33 / 37;
    grid-row: 1 / 2;
    background-color: aqua;
}
.fourtynine{
    grid-column: 33 / 37;
    grid-row: 2 / 4;
    background-color: purple;
}
.fifty{
    grid-column: 33 / 37;
    grid-row: 4 / 6;
    background-color: aqua;
}
.fiftyone{
    grid-column: 33 / 37;
    grid-row: 6 / 8;
    background-color: aqua;
}
.fiftytwo{
    grid-column: 33 / 37;
    grid-row: 8 / 10;
    background-color: aqua;
}
.fiftythree{
    grid-column: 33 / 37;
    grid-row: 10 / 12;
    background-color: aqua;
}
.fiftyfour{
    grid-column: 33 / 37;
    grid-row: 12 / 14;
    background-color: aqua;
}
.fiftyfive{
    grid-column: 33 / 37;
    grid-row: 14 / 16;
    background-color: blueviolet;
}
.fiftysix{
    grid-column: 33 / 37;
    grid-row: 16 / 18;
    background-color: green;
}
