.radijas{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 5px;
    grid-template-rows: repeat(17, 1fr);
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}
.one{
    grid-column: 1;
    grid-row: 1 / 2;
}
.two{
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    background-color: purple;
}
.three{
    grid-column: 1;
    grid-row: 4 / 7;
    background-color: aqua;
}
.four{
    grid-column: 1;
    grid-row: 7 / 10;
    background-color: aqua;
}
.five{
    grid-column: 1;
    grid-row: 10 / 13;
    background-color: aqua;
}
.six{
    grid-column: 1;
    grid-row: 13 / 16;
    background-color: aqua;
}
.seven{
    grid-column: 1;
    grid-row: 16 / 19;
    background-color: aqua;
}
.eight{
    grid-column: 2 / 9;
    grid-row: 1 / 4;
    background-color: red;
}
